.content {
    h1 {
        color:tomato;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    p {
        color:whitesmoke;
        margin: 2rem 0;
        line-height: 2rem;
    }
}

.btn_wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;

    button {
        width: 80px;
        padding: 0.2rem 0;
        background-color:rgb(156, 156, 156);
        border: none;
        border-radius: 5px;
    }

    #quit {
        color:rgb(156, 0, 0);
    }
    #continue {
        color:rgb(0, 90, 41);
    }
}
